<a href="{{ params.blog.url }}" class="block group card">
  <div class="mb-4 bg-blue w-full h-64 block card__lead_image">
    {% if params.blog.data.lead_image %}
      {% blockImage "./src" + params.blog.data.lead_image, params.blog.data.title, "(min-width: 30em) 50vw, 100vw" %}
    {% endif %}
  </div>

  <h2 class="px-4 text-lg transition-colors group-hover:text-red">{{ params.blog.data.title }}</h2>
  <p class="px-4 leading-loose font-serif transition-colors group-hover:text-blue-light">
    {{ params.blog.data.teaser }}
  </p>

  <div href="{{ params.blog.url }}" class="ml-4 mt-4 inline-block font-serif p-2 border border-blue transition-colors group-hover:border-red group-hover:text-red">
    Keep reading
  </div>

</a>
