{% macro blogPostPreview(post) %}
<div class="">
  <a href="{{ post.url }}">
    <h2 class="text-lg">{{ post.data.title }}</h2>
    <p class="leading-loose font-serif">{{ post.data.teaser }}</p>
  </a>
</div>
{% endmacro %}
