<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link href="/assets/css/styles.css" rel="stylesheet">

    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
  </head>

  <body class="bg-blue text-white-pure antialiased">

    {{ content | safe }}

    <footer class="p-4">
      <p class="font-serif leading-loose mb-4">
        <span class="text-red">Carnelian</span> Search will impact your organisation by finding the perfect person to take your mission&nbsp;forward
      </p>

      <nav class="my-4">
        <ul class="uppercase footer-nav">
          <li class="inline">
            <a href="/#approach" class="underline transition-colors hover:text-red">Approach</a>
          </li>
          <li class="inline">
            <a href="/#values" class="underline transition-colors hover:text-red">Values</a>
          </li>
          <li class="inline">
            <a href="/#insights" class="underline transition-colors hover:text-red">Insights</a>
          </li>
          <li class="inline">
            <a href="/#contact" class="underline transition-colors hover:text-red">Contact</a>
          </li>
        </ul>
      </nav>

      <p class="font-serif text-sm leading-loose my-4">&copy; Copyright {{ build.year }} Carnelian Search</p>
    </footer>


    <!--
      Current page: {{ page.url | url }}
      Last build: {{ build.timestamp }}
      Env: {{ build.env }}
    -->
  </body>
</html>
