@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

@font-face {
  font-family: 'futura';
  src: url('/assets/fonts/futura_medium.woff2') format('woff2'),
       url('/assets/fonts/futura_medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;

html {
  scroll-behavior: smooth;
}

.section--contact strong {
  @apply text-red font-sans;
}

.simple-text {
  @apply leading-loose;
}

.simple-text p {
  @apply my-5;
}

@screen sm {
  .simple-text p {
    max-width: 80%;
  }
}

.simple-text p:first-child {
  @apply mt-0 text-lg;
  line-height: 2;
  max-width: none;
}

.simple-text p:last-child {
  @apply mb-0;
}

@screen xs {
  .footer-nav li:after {
    content: '|';
    padding: 0 0.25rem;
  }

  .footer-nav li:last-child:after {
    content: none;
  }
}

/** Cards **/
.card__lead_image {
  @apply relative overflow-hidden;
}

.card__lead_image img,
.card__lead_image picture {
  @apply block h-full object-cover absolute top-0 w-full transition-all duration-200;
}

.card:hover .card__lead_image img,
.card:hover .card__lead_image picture {
  transform: scale(1.1);
}

@tailwind components;
@tailwind utilities;

@responsive {
  .p-unset {
    position: unset
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
