---
permalink: humans.txt
eleventyExcludeFromCollections: true
---

Name: Allan Beckett
Role: Copy
Years: 2020-Current
URL: carneliansearch.com

Name: James Doc
Role: Design, Development
Years: 2020-Current
URL: onesheep.org / jamesdoc.com

Name: Arun Mathani
Role: QA, Analytics
Years: 2020-Current
URL: onesheep.org

Name: Sam Peckham
Role: Design, Project Management
Years: 2020-Current
URL: onesheep.org

/* Past Team */

Name: Tim Wyatt
Role: Copy
Years: 2020
URL: tswyatt.com

/* Tech */

- Eleventy
- NetlifyCMS
- Tailwind
- AlpineJS
- Netlify
