---
layout: layouts/home.njk
---

{% from 'macros/macroBlog.njk' import blogPostPreview %}

<header class="p-4 md:p-8">
  {% include 'partials/siteHeader.njk' %}

  <div>
    <p class="font-serif text-2xl leading-relaxed bg-blue-translucent p-4">
      <span class="text-red">Carnelian</span> Search will impact your organisation by finding the perfect person to take your mission&nbsp;forward.
    </p>

    <nav id="menu">
      <ol class="list-decimal ml-4">
        <li class="mt-4">
          <a href="#approach" class="group">
            <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">Approach</span>
            <p class="-ml-4 font-serif group-hover:text-blue-lighter">Your charity is unique, and your recruitment should be too.</p>
          </a>
        </li>
        <li class="mt-4">
          <a href="#values" class="group">
            <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">Values</span>
            <p class="-ml-4 font-serif group-hover:text-blue-lighter">The way we work is different, because it is built on different values.</p>
          </a>
        </li>
        <li class="mt-4">
          <a href="#insights" class="group">
            <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">Insights</span>
            <p class="-ml-4 font-serif group-hover:text-blue-lighter">We learn and grow in every search we undertake and complete.</p>
          </a>
        </li>
        <li class="mt-4">
          <a href="#contact" class="group">
            <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">Contact</span>
            <p class="-ml-4 font-serif group-hover:text-blue-lighter">Every search we carry out begins with a conversation…</p>
          </a>
        </li>
      </ol>
    </nav>
  </div>
</header>

{% set s = collections.homepageSection|findBySlug('introduction') %}
<section id="introduction" class="p-4 bg-blue-light md:p-8 md:flex md:flex-row-reverse">
  <div class="md:pl-4">
    <h1 class="uppercase text-2xl mb-4">Introducing <span class="text-red">Carnelian</span> Search</h1>

    <div class="simple-text font-serif">
      {{ s.templateContent | safe }}
    </div>
  </div>

  <div class="md:w-1/2 flex-shrink-0 md:pr-4">
    <!-- Image -->
    <span class="block bg-red text-white mb-4 md:mb-0">TODO: IMAGE</span>
  </div>
</section>


<section class="p-4 bg-white-pure text-blue md:p-8"></section>

{% set s = collections.homepageSection|findBySlug('approach') %}
<section id="approach" class="p-4 bg-blue-light md:p-8 md:flex md:flex-row-reverse">
  <div class="md:w-1/2 flex-shrink-0 md:pl-4">
    <!-- Image -->
    <span class="block bg-red text-white mb-4 md:mb-0">TODO: IMAGE</span>
  </div>

  <div class="md:1/2 md:pr-4">
    <h1 class="uppercase text-2xl mb-4">
      <span class="text-red">1.</span> {{ s.data.title }}
    </h1>

    <div class="simple-text font-serif">
      {{ s.templateContent | safe }}
    </div>

    <ul>
      {% for approach in approaches.approaches %}
      <li class="mb-4">
        <h2 class="font-sans text-lg border-b border-white">{{ approach.title }}</h2>
        <p class="font-serif leading-loose">{{ approach.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section id="values" class="p-4 md:p-8">
  {% set s = collections.homepageSection|findBySlug('values') %}
  <h1 class="uppercase text-2xl mb-4">
    <span class="text-red">2.</span> {{ s.data.title }}
  </h1>

  <div class="simple-text font-serif md:max-w-1/2">
    {{ s.templateContent | safe }}
  </div>

  <ul class="grid gap-4 md:grid-cols-2 md:gap-8">
    {% for value in values.values %}
    <li class="">
      <h2 class="font-sans text-lg border-b border-white">{{ value.title }}</h2>
      <p class="font-serif leading-loose">{{ value.description }}</p>
    </li>
    {% endfor %}
  </ul>

  <a href="#contact" class="inline-block text-white bg-red transition-colors p-2 font-serif hover:bg-red-dark">Start the conversation</a>
</section>

<section id="insights" class="p-4 bg-white-pure text-blue md:p-8">
  {# TODO: Filter out just stories from all insights #}
  {% set s = collections.homepageSection|findBySlug('insights') %}
  {% set insights = collections.insights | reverse %}

  <div class="md:max-w-1/2">

    <h1 class="uppercase text-2xl mb-4">
      <span class="text-red">3.</span> {{ s.data.title }}
    </h1>

    <div class="simple-text font-serif">
      {{ s.templateContent | safe }}
    </div>

  </div>

  <div class="grid gap-4 mb-4 md:grid-cols-2 md:gap-8">
  {{ blogPostPreview(insights[0]) }}
  {{ blogPostPreview(insights[1]) }}
  </div>

  {% include 'partials/mailingList.njk' %}

</section>

<section id="contact" class="section--contact p-4 md:p-8 bg-blue-light md:grid md:grid-cols-2 md:gap-8">
  {% set s = collections.homepageSection|findBySlug('contact') %}

  <div>

    <h1 class="uppercase text-2xl mb-4">
      <span class="text-red">4.</span> {{ s.data.title }}
    </h1>

    <div class="simple-text font-serif">
      {{ s.templateContent | safe }}
    </div>

  </div>

  <div class="mt-8 md:mt-0">
    {% for person in collections.people %}
    <div class="my-4 flex">

      {% if person.data.image %}
        {% imageAvatar "./src/" + person.data.image, person.data.name, "(min-width: 30em) 50vw, 25vw" %}
      {% endif %}

      <div class="pl-4">
        <h2 class="text-lg uppercase border-b mb-1">
          {{ person.data.name }}
        </h2>

        <p class="text-sm text-blue-lighter">
          {{ person.data.title}}
        </p>

        <p class="font-serif leading-loose">
          {{ person.data.introduction }}
        </p>
      </div>

    </div>
    {% endfor %}
  </div>


</section>

