---
layout: layouts/home.njk
---

<header class="home-header p-4 md:p-8 xl:px-0 bg-contain bg-no-repeat">
  <div class="max-w-screen-xl mx-auto">
    {% include 'partials/siteHeader.njk' %}

    <div class="relative md:grid md:gap-8 md:grid-cols-4">
      <div class="absolute right-0 text-right w-2/3 md:w-full md:text-left md:p-unset">
        <p class="bg-blue-translucent font-serif leading-relaxed p-2 text-xl xs:p-4 xs:mt-4 xs:text-2xl sm:mt-8 md:absolute md:mt-12 md:w-1/3 xl:text-3xl xl:leading-relaxed md:z-10">
          <span>Carnelian</span> Search will impact your organisation by finding the perfect person to take your mission&nbsp;forward.
        </p>
      </div>

      <div class="w-2/3 md:w-full md:col-span-2">
        {% blockImage "./src/assets/img/rowing-3.jpg" , "Rowing team lead by their cox", "(min-width: 30em) 50vw, 75vw", "w-full  md:opacity-70  md:z-0" %}
      </div>

      <nav class="flex items-end">
        <ol id="menu" class="mt-4 gap-4 grid grid-cols-2 md:grid-cols-1 md:mt-0 lg:pt-8">
          <li class="">
            <a href="#approach" class="group">
              <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">1. Approach</span>
              <p class="font-serif group-hover:text-blue-lighter">Your charity is unique, and your recruitment should be too.</p>
            </a>
          </li>
          <li class="">
            <a href="#values" class="group">
              <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">2. Values</span>
              <p class="font-serif group-hover:text-blue-lighter">The way we work is different, because it is built on different values.</p>
            </a>
          </li>
          <li class="">
            <a href="#insights" class="group">
              <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">3. Insights</span>
              <p class="font-serif group-hover:text-blue-lighter">We learn and grow in every search we undertake and complete.</p>
            </a>
          </li>
          <li class="">
            <a href="#team" class="group">
              <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">4. Team</span>
              <p class="font-serif group-hover:text-blue-lighter">We are nothing without the people behind us.</p>
            </a>
          </li>
          <li class="">
            <a href="#contact" class="group">
              <span class="text-lg uppercase underline block transition-colors group-hover:no-underline group-hover:text-red">5. Contact</span>
              <p class="font-serif group-hover:text-blue-lighter">Every search we carry out begins with a conversation…</p>
            </a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</header>

{% set s = collections.homepageSection|findBySlug('introduction') %}
<section id="introduction" class="p-4 bg-blue-light md:p-8">
  <div class="max-w-screen-xl mx-auto flex flex-col-reverse md:flex-row-reverse">
    <div class="md:pl-4 flex flex-col justify-center">
      <h1 class="uppercase text-2xl mb-4">Introducing <span class="text-red">Carnelian</span> Search</h1>

      <div class="simple-text font-serif">
        {{ s.templateContent | safe }}
      </div>
    </div>

    <div class="mb-4 md:mb-0 md:w-1/2 flex-shrink-0 md:pr-4">
      {% if s.data.featured_image.src %}
        {% blockImage "./src" + s.data.featured_image.src, s.data.featured_image.alt, "(min-width: 30em) 50vw, 25vw", "w-full sticky top-0" %}
      {% endif %}
    </div>
  </div>
</section>

{% set case_studies = collections.case_studies | reverse %}

{% if case_studies[0] %}
<section class="p-4 bg-white-pure text-blue md:p-8">
  <div class="max-w-screen-xl mx-auto grid gap-4 md:grid-cols-2 md:gap-8">
    <div class="flex flex-col justify-center items-start">
      <p class="text-gray">{{ case_studies[0].data.case_study.introduction }}</p>
      <blockquote class="big-quote border-l font-serif leading-relaxed md:mt-8 md:pl-8 mt-4 pl-4">{{ case_studies[0].data.case_study.quote }}</blockquote>

      <a href="{{ case_studies[0].url}}" class="inline-block text-white-pure bg-red transition-colors p-2 font-serif mt-4 md:mt-8 hover:bg-red-dark">
        Find out more
      </a>
    </div>

    <div class="flex flex-col md:items-center justify-center">
      {% if case_studies[0].data.case_study.img %}
      {% blockImage "./src" + case_studies[0].data.case_study.img,
        case_studies[0].data.case_study.attribution,
        "(min-width: 30em) 50vw, 25vw",
        ""
      %}
      {% endif %}
      <small class="mt-4 text-sm">{{ case_studies[0].data.case_study.attribution }}</small>
    </div>
  </div>
</section>
{% endif %}

{% set s = collections.homepageSection|findBySlug('approach') %}
<section id="approach" class="p-4 bg-blue-light md:p-8">
  <div class="max-w-screen-xl mx-auto md:flex md:flex-row-reverse">
    <div class="md:w-1/2 flex-shrink-0 md:ml-4 md:pl-4">
      {% if s.data.featured_image.src %}
        {% blockImage "./src" + s.data.featured_image.src, s.data.featured_image.alt, "(min-width: 30em) 50vw, 25vw", "w-full sticky top-0" %}
      {% endif %}
    </div>

    <div class="md:1/2 md:mr-4">
      <h1 class="uppercase text-2xl mb-4 mt-4 md:mt-0">
        <span class="text-red">1.</span> {{ s.data.title }}
      </h1>

      <div class="simple-text font-serif mb-4 md:mb-8">
        {{ s.templateContent | safe }}
      </div>

      <ul>
        {% for approach in approaches.approaches %}
        <li class="mb-4 group" {% if loop.first %}x-data="{ open: true }"{% else %}x-data="{ open: false }"{% endif %} @click="open = ! open">
          <h2 class="cursor-pointer transition-colors font-sans text-lg border-b border-white uppercase group-hover:text-red"  :class="{ 'is-open' : !open , 'is-closed' : open}">
            {{ approach.title }}
          </h2>
          <p class="font-serif leading-loose" x-show.transition.top="open">{{ approach.description }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% set s = collections.homepageSection|findBySlug('values') %}
<section id="values" class="p-4 md:p-8">

  <div class="max-w-screen-xl mx-auto">
    <h1 class="uppercase text-2xl mb-4">
      <span class="text-red">2.</span> {{ s.data.title }}
    </h1>

    <div class="simple-text font-serif md:max-w-1/2 mb-4 md:mb-8">
      {{ s.templateContent | safe }}
    </div>

    <ul class="grid gap-4 md:grid-cols-2 md:gap-8">
      {% for value in values.values %}
      <li class="group" x-data="{ open: true }" @click="open = ! open">
        <h2 class="cursor-pointer transition-colors font-sans text-lg border-b border-white uppercase group-hover:text-red" :class="{ 'is-open' : !open , 'is-closed' : open}">
          {{ value.title }}
        </h2>
        <p class="font-serif leading-loose" x-show.transition.top="open">{{ value.description }}</p>
      </li>
      {% endfor %}
    </ul>

    {% if s.data.next_step.title %}
      <a href="{{ s.data.next_step.link }}" class="inline-block text-white-pure bg-red transition-colors p-2 font-serif mt-4 md:mt-8 hover:bg-red-dark">
        {{ s.data.next_step.title}}
      </a>
    {% endif %}
  </div>
</section>

{% set s = collections.homepageSection|findBySlug('insights') %}
{% set case_studies = collections.case_studies | reverse %}
<section id="insights" class="p-4 bg-white-pure text-blue md:p-8">
  <div class="max-w-screen-xl mx-auto">

    <div class="md:max-w-1/2 mb-4 md:mb-8">
      <h1 class="uppercase text-2xl mb-4">
        <span class="text-red">3.</span> {{ s.data.title }}
      </h1>

      <div class="simple-text font-serif">
        {{ s.templateContent | safe }}
      </div>
    </div>

    <div class="grid gap-4 mb-4 md:grid-cols-2 md:gap-8">
      {% set display_number = 2 %}
      {% for i in range(0, display_number) %}
        {% set blog = case_studies[i] %}
        <a href="{{ blog.url }}" class="block group card">
          <div class="mb-4 bg-blue w-full h-64 block card__lead_image">
            {% if blog.data.lead_image %}
              {% blockImage "./src" + blog.data.lead_image, blog.data.title, "(min-width: 30em) 50vw, 100vw" %}
            {% endif %}
          </div>

          <h2 class="px-4 text-lg transition-colors group-hover:text-red">{{ blog.data.title }}</h2>
          <p class="px-4 leading-loose font-serif transition-colors group-hover:text-blue-light">
            {{ blog.data.teaser }}
          </p>

          <div href="{{ blog.url }}" class="ml-4 mt-4 inline-block font-serif p-2 border border-blue transition-colors group-hover:border-red group-hover:text-red">
            Keep reading
          </div>

        </a>

      {% endfor %}
    </div>

    <div class="border-t border-b p-4 my-4 text-center sm:text-lg md:p-8 md:my-8 lg:max-w-2/3 mx-auto">
      <p class="mb-2 md:mb-4">We have much more on how Carnelian Search was able to help charities like&nbsp;yours.</p>
      <a href="/insights" class="inline-block font-serif p-2 border border-blue transition-colors hover:border-red hover:text-red">Read the insights</a>
    </div>

    {% include 'partials/mailingList.njk' %}
  </div>

</section>

{% set s = collections.homepageSection|findBySlug('team') %}
<section id="team" class="section--contact p-4 md:p-8 bg-white-pure text-blue">
  <div class="max-w-screen-xl mx-auto">
    <div class="mt-8 md:mt-0">
      <h1 class="uppercase text-2xl mb-4">
        <span class="text-red">4.</span> {{ s.data.title }}
      </h1>

      <div class="simple-text font-serif">
        {{ s.templateContent | safe }}
      </div>
      <div class="my-4 md:my-8 grid gap-4 sm:grid-cols-2 md:gap-8">
        {% for person in people.person %}
        <div class="flex cursor-pointer group" {% if loop.first %}x-data="{ open: true }"{% else %}x-data="{ open: false }"{% endif %} @click="open = ! open">

          <div class="rounded-full h-16 w-16 block overflow-hidden flex-shrink-0 transition-all" :class="{'desaturate-80': open === false }">
          {% if person.image %}
            {% imageAvatar "./src/" + person.image, person.name, "(min-width: 30em) 50vw, 25vw" %}
          {% endif %}
          </div>

          <div class="mt-2 pl-4 w-full">
            <h2 class="transition-colors text-lg uppercase border-b mb-1 group-hover:text-red" :class="{ 'is-open' : !open , 'is-closed' : open}">
              {{ person.name }}
            </h2>

            <p class="text-sm text-blue-light">
              {{ person.title}}
            </p>

            <p class="font-serif leading-loose" x-show.transition.top="open">
              {{ person.introduction }}
            </p>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% set s = collections.homepageSection|findBySlug('contact') %}
<section id="contact" class="section--contact p-4 md:p-8 bg-blue-light">
  <div class="max-w-screen-xl mx-auto md:grid md:grid-cols-2 md:gap-8">

    <div class="flex flex-col justify-center">
      <h1 class="uppercase text-2xl mb-4">
        <span class="text-red">5.</span> {{ s.data.title }}
      </h1>

      <div class="simple-text font-serif">
        {{ s.templateContent | safe }}
      </div>
    </div>

    <div>
      {% blockImage "./src/" + s.data.featured_image.src, s.data.featured_image.alt, "(min-width: 30em) 50vw, 25vw", "w-full" %}
    </div>
  </div>

</section>

