<footer class="p-4 md:p-8 xl:px-0 bg-contain bg-no-repeat" style="background-image: url('/assets/svg/c-crop.svg')">
  <div class="max-w-screen-xl mx-auto">
    <p class="font-serif leading-loose mb-4 mt-20 md:max-w-1/2 md:text-2xl md:mt-16 md:mb-12 lg:max-w-1/3">
      <span class="text-red">Carnelian</span> Search will impact your organisation by finding the perfect person to take your mission&nbsp;forward.
    </p>

    <nav class="my-4">
      <ul class="uppercase footer-nav grid grid-cols-2 gap-2 xs:block">
        <li class="inline">
          <a href="/#approach" class="underline transition-colors hover:text-red">Approach</a>
        </li>
        <li class="inline">
          <a href="/#values" class="underline transition-colors hover:text-red">Values</a>
        </li>
        <li class="inline">
          <a href="/insights" class="underline transition-colors hover:text-red">Insights</a>
        </li>
        <li class="inline">
          <a href="/#team" class="underline transition-colors hover:text-red">Team</a>
        </li>
        <li class="inline">
          <a href="/#contact" class="underline transition-colors hover:text-red">Contact</a>
        </li>
      </ul>
    </nav>

    <p class="font-serif text-sm my-4">&copy; Copyright {{ build.year }} Carnelian Search | <a href="/privacy-policy" class="underline transition-colors hover:text-red">Privacy Policy</a></p>
    <p class="text-sm mt-4 font-sans uppercase"><span class="text-red">Carnelian</span> Search Ltd</p>
    <p class="font-serif text-sm my-0">Company Number: 10884076 | Registered in England and Wales</p>
    <p class="font-serif text-sm my-0">51 Romney Street, Westminster, London, SW1P 3RF</p>

  </div>
</footer>
