<form class="bg-blue-lighter p-4 lg:p-8" action="https://carneliansearch.us7.list-manage.com/subscribe/post?u=432b3d9b63e64e94be0ce7966&amp;id=b184a39d16" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
  <p class="uppercase mb-2">Subscribe to the mailing list</p>

  <div class="md:grid md:grid-cols-2 md:items-center">
    <p class="font-serif leading-loose border-b-2 border-white-pure pb-4 mb-4 md:border-b-0 md:pb-0 md:mb-0 md:pr-8 md:border-r-2">
      We sent out a newsletter each quarter packed with insights, interviews and advice, designed to help you and your senior colleagues lead well and keep&nbsp;learning.
    </p>

    <div class="md:pl-8">
      <label class="font-serif" for="email">Email address</label>
      <div class="flex">
        <input class="p-2 w-full" type="email" name="EMAIL" id="email" placeholder="allan@carneliansearch.com" />
        <input class="cursor-pointer bg-blue transition-colors text-white p-2 hover:bg-red" type="submit" value="Sign up" />
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_432b3d9b63e64e94be0ce7966_b184a39d16" tabindex="-1" value="">
      </div>
    </div>
  </div>
</form>
