<form method="post" action"#gndn">
  <h3>Subscribe to the mailing list</h3>

  <div>
    <p>We sent out a newsletter each quarter packed with insights, interviews and advice, designed to help you and your senior colleagues lead well and keep learning. </p>

    <div>
      <label for="email">Email address</label>
      <input type="email" name="email" />
      <input type="submit" value="Sign up" />
    </div>
  </div>
</form>
