<div class="border-b border-white-pure pb-4 flex justify-between mb-4">
  <h1 class="order-2 sm:w-1/3 text-center">Carnelian Search</h1>
  <div class="order-3 sm:w-1/3 text-right"><a href="/#menu">Menu</a></div>
  <div class="hidden sm:block order-1 sm:w-1/3">info@carneliansearch.org</div>
</div>
